* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** container not working ***/
.container {
  margin: 0 auto;
  width: 1250px;
}

.margin--top {
  margin-top: 5.2rem;
}

.margin--btm {
  padding-bottom: 5.2rem;
}

/**** Heading ****/

.main-header {
  margin: 25px 20px 0 0;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-item {
  margin-right: 20px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

/**** H1 Title ****/
h1 {
  text-align: center;
  margin: 20px 0 20px 0;
}

/****---------------****/
/**** ABOUT ME PAGE ****/
/****---------------****/

.tech-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 9.6rem;
}

.tech-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  column-gap: 25px;
  row-gap: 40px;
  border: 2px solid black;
  padding: 2.4rem;
}

.tech-description {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
